[2020-02-05 01:32] nickmcmillan opened #1 "Expected server HTML to contain a matching <div> in <div>"
Firstly thanks for making this plugin.

I've found that the plugin works as expected when a project is built using `gatsby build`.

However whilst in development mode `gatsby develop` an error is logged to the console `Expected server HTML to contain a matching <div> in <div>`

I'd imagine this might be because in development mode there's no need for SSR, but the plugin is expecting it.

[2020-02-05 08:45] hector-del-rio commented on #1
The error does not appear in my project, could you provide some context?

Are you using `window` or `document` globals in your components?

[2020-02-07 00:50] nickmcmillan commented on #1
I've created a reduced test case based on the Gatsby Default Starter;
https://github.com/nickmcmillan/gatsby-starter-default-with-gatsby-plugin-loadable-components-ssr

In `page-2.js` you'll see how I'm conditionally loading a component.
If you run the project in development mode you'll see the error logged to the console.

There are no references to `window` or `document`.

[2020-02-07 16:25] Goosens commented on #1
I'm experiencing the same error. It looks like the problem lays with the render method being used in the `replaceHydrateFunction` in the `gatsby-browser.js`. When using `ReactDom.render` on the development build instead of the `ReactDom.hydrate` the error is gone.

A possible fix could be switching the render methods based on the type of build. For example:
[code]
This will check if your build is

[2020-02-09 08:49] nickmcmillan commented on #1
Just had a thought, since in production-mode React suppresses its handy console warnings & errors it's likely that this error is present in the production build too.

To verify this I'm trying to find whether its possible to force Gatsby to build using the development version of React. I found this but haven't had any luck yet https://github.com/facebook/react/issues/17499

[2020-03-01 20:20] rsurjano commented on #1
Also I am getting the same error, is there a possible fix to mitigate such error?

[2020-03-03 08:27] valse opened #2 "Stopped working after building with Preact"
Hi, I'm using your plugin and it works great but after adding the `gatsby-plugin-preact` to building with Preact, my `gatsby-image`s stopped working.

I made a demo simply installing both the plugin and you can see the image issue:
https://codesandbox.io/s/weathered-fire-26o6i

Thanks
valse

[2020-03-03 09:15] hector-del-rio commented on #2
Hello, could yo specify what's the problem with the image?

<img width="728" alt="Screenshot 2020-03-03 at 11 14 50" src="https://user-images.githubusercontent.com/9391691/75760660-4da26580-5d40-11ea-8c92-f4837da62265.png">

[2020-03-03 09:54] hector-del-rio commented on #1
Thanks @nickmcmillan for providing the reduced test case repo. Based on @Goosens suggestion, I created a fix now published in `v.1.0.8`.

[2020-03-03 09:55] #1 closed

[2020-03-03 12:06] valse commented on #2
Hi @hector-del-rio... the Preact plugin works only on production build so you must execute `yarn build` and then `yarn serve` to see the site exposed on port 9000.

![image](https://user-images.githubusercontent.com/1492995/75774220-c78e1b00-5d4f-11ea-92e3-3cc63fedf267.png)

[2020-03-03 13:30] hector-del-rio commented on #2
@valse The issue seems to be related to ReactDOM.hydrate, since changing it to ReactDOM.render works.

`v2.0.0` adds the option `useHydrate` with which you can choose between using render or hydrate.

[2020-03-03 13:30] #2 closed

[2020-03-14 13:36] LekoArts opened #3 "WebpackError: TypeError: Cannot convert undefined or null to object"
Hi!

Thanks for the plugin, it certainly makes it easier than reading through their long docs :)

I'm using `@loadable/component` for my Minimal Blog theme on https://minimal-blog.lekoarts.de and was made aware of that the code blocks I use it for are missing in the RSS feed: https://github.com/LekoArts/gatsby-themes/issues/299

The cause I of course loadable and hence I tried out your plugin. Unf

[2020-03-17 05:43] hector-del-rio commented on #3
I took a look at the code and checked it out locally. In `code.tsx` I don't think you are using `loadable-components` according to the documentation in their page. Please refer to [their docs](https://loadable-components.com/docs/getting-started/) for more info.

I will close this issue since it is not related to this project.

[2020-03-17 05:43] #3 closed

[2020-03-18 17:15] LekoArts commented on #3
Eh, the code is fine and works as expected. I had to use a more difficult setup due to the default export and named export of `prism-react-renderer`. If I remove your plugin it works fine.

So unfortunately your comment is not really helpful regarding my original issue.

[2020-05-13 17:13] nkosakul opened #4 "Import component dynamically. WebpackError: TypeError: Cannot read property 'call' of undefined"
Hi!

First, thanks for the plugin! Really cool!

I´m using `@loadable/component` for a portfolio website with Gatsby + Contentful.
Its working great with Gatsby version `2.20.36`, but as soon as i update Gatsby to `2.20.4` or higher, which i do because of the incremental build feature i want to use, its failed on build.

I´m using `gatsby-plugin-loadable-components-ssr` `v2.0.0`

The Error i get i

[2020-05-13 17:16] nkosakul commented on #4
A Screenshot from the console:
<img width="818" alt="Bildschirmfoto 2020-05-13 um 19 15 40" src="https://user-images.githubusercontent.com/28593228/81843643-2fca5b80-954e-11ea-8606-f47c24c01095.png">

[2020-05-14 06:09] hector-del-rio commented on #4
The link you posted to your repo cannot be build because it uses data from Contentful. It is hard to tell what could be going on without a minimal repo to reproduce the error.

[2020-05-14 06:45] nkosakul commented on #4
oh sorry, you're right.
you can't build without an .env with the API keys..
would it help if I generate an temporary API key and DM it to you, so you can build the files?

[2020-05-14 06:47] hector-del-rio commented on #4
Maybe it's best if you switch to JSON data source in a different branch.

[2020-05-14 17:19] nkosakul commented on #4
Ok, so i created a new branch `source-json` where i´m sourcing the data from a json file, instead of contentful. I made the branch as simply as i could and build the data similiar to the contentful response.
I get rid of all the other pages, so the index.js is now the only page which is being created.

on `yarn start` everything works great. On build its throw out the same error above.

Here is th

[2020-05-17 07:36] hector-del-rio commented on #4
I spent almost the whole day yesterday trying to figure out what the problem is. I tried debugging gatsby's build process. There seems to be some problem with how the modules are loaded, but I can't figure out exactly what.

It would be really helpful to find what version of gatsby was still working, but when I tried `2.20.36` as you mentioned, it didn't work either. Could you let me know if you f

[2020-05-17 09:37] nkosakul commented on #4
Ok, thats weard.. now it doesn´t work for me either.
I also throw everything out except for the files, that we really need (pushed to source-json branch).
I even created a whole new repo on a different machine and it doesn´t work too..

I did some testing, maybe its helping:
On develop, if i go back to the commit, before i bump up gatsby, its still working.
So i just copied the yarn.lock file (i k

[2020-05-18 06:43] hector-del-rio commented on #4
Ok, that `yarn.lock` was usefull 👍

Adding the resolution below in `packaga.json` will fix the issue for now

[code]

Now I only need to figure out what has changed between the two version of babel.

[2020-05-18 13:59] nkosakul commented on #4
I´m glad that helped! And thank you!

This fix seems to fail at the first build, when there is no `.cache` folder,
but every other build after the first build is running clean.
(With: gatsby `2.20.4`, gatsby-plugin-loadable-components-ssr `^2.1.0` and with `resolutions` added to the `package.json`)

So for me, netlify will still fail to deploy.
So i might gonna wait for now. 🤔

[2020-07-21 23:30] MastaAaron commented on #4
Any hope for getting this resolved? I'm also experiencing the error...

**Versions installed:**
`gatsby@2.24.8`
`@loadable/component@5.13.1`
`gatsby-plugin-loadable-components-ssr@2.1.0`
`@babel/core@7.8.4` (via `"resolutions"` entry in `package.json`)

[2020-07-27 17:26] StrategyLLC commented on #4
We are getting this same error. We are using WordPress as our data source, but the code looks exactly the same as what was posted. Using latest versions. Anybody have any insight to this issue outside of what has already been posted?

[2020-08-14 15:04] ashhitch commented on #4
Same for me. I tried taking a fork of the repo and updating the dependencies but it did not help. (was hoping for an easy win!)

[2020-08-17 03:32] SimeonC commented on #4
Looks like this issue in the main repo is related; https://github.com/gregberge/loadable-components/issues/599

The only way I managed to get around this was by removing the dynamic imports - basically, instead of passing the component name/path as a string I write the whole `loadable(() => import` and pass that instead.

[2020-08-26 15:03] oskareke opened #6 "Import component from dynamic path"
Is it possible to import a component from a dynamic path?

This works:
`const Component = loadable(() => import("./component.js"))
`

Where as this doesn't:
[code]

The error I get is:
`/loadable.js: Property value expected type of string but got null`

I'm guessing webpack doesn't manage to figure this out, but are there any known workaround for this?

Great plugin 👍

[2020-08-27 15:47] MaxBoltik commented on #4
any news?

[2020-08-30 10:30] MaxBoltik commented on #6
the same problem

[2020-09-01 08:03] MaxBoltik commented on #4
Could you please explain a bit more about  "I write the whole loadable(() => import and pass that instead."

[2020-09-01 10:47] SimeonC commented on #4
So instead of `<DynamicLoader file=“filename”>` I ended up writing something like `<DynamicLoader loadable={loadable(() => import(‘path/to/filename’)}>`

Don’t know how helpful that would be for you, it’s not as clean as what we’d like but it works. Basically you hardcode the loadable components and dynamically select them instead of using a dynamic import.

[2020-09-01 12:26] MaxBoltik commented on #4
I've found another workaround.

Wrapper for dynamic component like this:
[code]
A map for component list:
[code]
And eventually use this map where I need this dynamic component:
[code]
It works in SSR as a static and in SPA as a dynamic.

[2020-09-05 03:15] theKashey commented on #6
@oskareke - this is not how it works. Please refer to [require.context](https://webpack.js.org/guides/dependency-management/#requirecontext) API. It shall be a __simple__ template based mask(that's important!), or just a static string. Anything else - and it will blow up.
[code]

---
Came around from the same problem - https://github.com/gregberge/loadable-components/issues/621
I am not sure how G

[2020-09-10 16:16] chapster11 opened #7 "Delaying import doesn't seem to work"
I'm trying to delay the loading of my component using setTimeout but currently the component is getting loaded right away.

[code]

The above renders both at the same time when it should wait 10 seconds to load footer after the first div has rendered. Am I missing something here ?

[2020-10-04 14:01] abahari commented on #4
Hello Everyone,

I solved this problem by adding the following condition:
[code]
and before calling this module, check if it DynamicModule exists :
[code]

I hope this help

[2020-10-15 05:02] alesanchezr commented on #4
Same issue here, I'm only loading icons so for now I'm just ignoring the icons during SSR

[code]

[2020-12-01 07:58] cedricdelpoux opened #9 "[Question] Does this plugin splits codebase into Javascript bundles?"
I tried using your plugin because Google Lighthouse gave me the following warning:
[code]
I'm not sure to see any improvments.
I don't import any components using `@loadable/component`

Does this plugin do splits the site into Javascript bundles by itself if we do not have any `loadable(() => import("./component.js")` or it's useless for my usecase?

[2020-12-03 18:21] stevemarksd commented on #9
You need to do this: `const InlineAd = loadable(() => import('../components/InlineAd'/* webpackChunkName: "InlineAd" */))`

[2020-12-03 18:23] cedricdelpoux commented on #9
Is `/* webpackChunkName: ... */` mandatory?

[2020-12-03 18:26] stevemarksd opened #10 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined."
Somehow I'm getting `Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.` on everything that is rendered... not sure why.

Also this error happens on a component that I didn't even `import` dynamically...

[code]

![image](https://user-images.githubusercontent.com/58653359/101075000-6b0ca480-35dc-11eb-8676-26025823

[2020-12-21 15:50] lunelson commented on #4
I'm getting the same error here with `gatsby 2.28.2` and this plugin `2.1.0`. I'm also using the pathPrefix option, which might be relevant. The solution of using the `resolutions` field in `package.json`, as mentioned further up this thread, didn't work for me.

[2021-03-05 22:37] laustdeleuran opened #12 "Gatsby v3 support"
This plugin requests a peer dependency of [`gatsby` to be `^2.12.1"`](https://github.com/hector-del-rio/gatsby-plugin-loadable-components-ssr/blob/master/package.json#L32).

[code]

Is v3 support planned?

[2021-03-09 23:03] daydream05 commented on #12
Second this!

So `fs.readFileSync` is not allowed anymore for [gatsby-ssr](**url**).

If anyone can help refactor it, that would be great!

[2021-03-17 21:36] afladmark commented on #12
I've put up my attempt at Gatsby 3 support in PR #13. Not sure if it's the best or right approach, but it's working for us so far. Thought I'd contribute what I had and see if it helps move things along or not.

[2021-03-25 15:59] amkulkarni29 opened #14 ""gatsby-plugin-loadable-components-ssr" threw an error while running the onPostBuild lifecycle"
Adding a config for gatsby-plugin-loadable-components-ssr in gatsby-config.js file throws this error in gatsby build. Works fine locally:

ENOENT: no such file or directory, unlink 'REPO_PATH/public/loadable-stats-build-javascript.json'

  39 | const onPostBuild = () => {
  40 |   // Clean after ourselves
  41 |   (0, _fs.unlinkSync)(_constants.statsPath);
     |                      ^
  42 | };

[2021-03-26 16:12] laustdeleuran commented on #12
@hector-del-rio Any update on this? Seems like #13 might be a path forward?

[2021-03-26 20:38] afladmark commented on #12
It's definitely a plausible approach. The biggest issue I'm still having with it is figuring out the absolute path to the json file in the public folder. The webpack output changes between `develop` and `build-javascript` stages (that's why I have that ternary for `filename`), and in some cases (Gatsby Cloud) the `process.cwd()` approach doesn't seem to be the expected location either probably bec

[2021-03-30 13:08] dylanblokhuis commented on #12
@afladmark In my case your fork did not error out and it passed ``gatsby develop`` and ``gatsby build``. I did notice that the  html is empty where the loadable components are supposed to be SSR'd.

Do you have the same issue?

[2021-03-30 13:26] afladmark commented on #12
I did not have the issue with develop or build mode locally (i.e. all the SSR HTML was present), but I did have the same issue on Gatsby Cloud builds. It's all path related I think and that's what I was referring to in my previous comment. Seemingly, if the build is invoked from inside the root of the solution, it works.

In our project, I have stopped using this plugin and I've coded it directly

[2021-03-31 04:30] ashhitch commented on #12
@afladmark i would be interested in seeing your local solution. 😀

[2021-03-31 14:34] afladmark commented on #12
@ashhitch It's actually fairly simple. It assumes dev-ssr mode is on (which it is by default now in 3.x, I believe):

`gatsby-browser.js`:
[code]

`gatsby-node.js`:
[code]

`gatsby-ssr.js`:
[code]

And just add the latest `@loadable/babel-plugin`, `@loadable/server` and `@loadable/webpack-plugin` to your `package.json`.

For me, this works in all environments, dev, local build and building in Gats

[2021-03-31 21:28] graysonhicks opened #15 "Gatsby, Inc. Support"
Hi @hector-del-rio !  We love this plugin at Gatsby, Inc. and would like to have access to the repo and npm org for maintenance and releases.  [Let us know if that's okay](mailto:support@gatsbyjs.com) and let's get it set up, thanks!

[2021-04-01 15:32] d4v1d82 commented on #12
For Gatsby v3.2.0 it seems that `onCreateWebpackConfig` needs to include also `stage === 'develop-html'`

[code]

[2021-04-01 16:35] KyleAMathews commented on #15
We'd love to help out! This is a great component that a lot of people benefit from.

[2021-04-12 13:35] sarjanen commented on #12
@afladmark I can't manage to get your code to work. It works in dev mode but in production nothing renders.Can you create an example repo?

[2021-04-12 22:33] afladmark commented on #12
@sarjanen As I mention above, I was only able to make it work in production when I implemented the changes above directly into my project (i.e. not using it as a plugin).

[2021-04-13 09:49] sarjanen commented on #12
@afladmark I tried to do same. For some weird reson the first two chunks is replaced with framework and common for me.
<img width="684" alt="image" src="https://user-images.githubusercontent.com/814347/114533013-bcddcf00-9c4d-11eb-9741-f0116f8a5371.png">

I get same issue if I implement it as you did above, or using your PR.

[2021-04-13 14:04] afladmark commented on #12
@sarjanen Hmm. I don't have a solution I'm afraid. I've just posted what I found worked on our projects with the hope that the community can use it or take it further. Most of the issues seem to be related to reliably determining the path to the public folder in various build stages and environments, but beyond that I'm not sure what would be causing it to fail in your case. My only suggestion wou

[2021-04-22 14:02] graysonhicks commented on #15
Thanks Hector!

[2021-04-22 14:02] #15 closed

[2021-04-30 04:12] matthewkwong2 commented on #12
If you have `DEV_SSR` enabled, you should not add `stage === "develop-html"`. Otherwise, you are good.

[2021-05-07 19:49] afladmark commented on #12
I have `DEV_SSR` enabled and it would not work for me with Gatsby 3.2 without adding `stage === "develop-html"`. It did work just fine prior to 3.2. Are you seeing something different or just on a version prior to 3.2?

[2021-05-10 21:20] graysonhicks commented on #14
This was fixed with #8 and is available on the `next` version by updating your package.json like this:

`"gatsby-plugin-loadable-components-ssr": "next"`

This will be released the soonest version bump.  Thanks!

[2021-05-10 21:20] #14 closed

[2021-05-10 21:22] graysonhicks commented on #10
@stevemarksd This is normally caused by mixed up import syntax, especially named vs. default.  Are you still having this issue and/or have a reproduction?  Thanks!

[2021-05-10 21:31] graysonhicks commented on #7
@chapster11 I would try moving the Promise and setTimeout function out of the loadable function.

[code]

If this is still an issue, can you post a reproduction?  Thanks!

[2021-05-10 21:35] graysonhicks commented on #6
I believe, ultimately, this is a duplicate of #4 .

[2021-05-10 21:35] #6 closed

[2021-05-12 14:05] dizip opened #17 "WebpackError: Cannot find module 'public/loadable-stats-build-javascript.json'"
Hi everyone,
I've changed the version of the plugin to 'next' and currently using Gatsby in 3.4 version.
Using Ubuntu everything works Ok, but on MacOS I am getting the following errors:

[code]

Is there any chance you can advise me what I can do to fix that?

[2021-05-14 07:32] hk86 commented on #17
Hi there, same error here. I use version `@next` due to gatsby V3.

[2021-05-17 12:49] joelvarty commented on #17
Same behaviour here.

[2021-05-18 10:01] kszot-ref commented on #17
Same issue here, but it only happens during a Cloud (incremental) build on Gatsby Cloud.

[2021-05-18 13:42] artt opened #18 "Cannot find module loadable-stats-build-javascript.json in development mode"
Confirm. The `build` works fine, but when I run `gatsby develop`, I get the following:

[code]

[2021-05-18 15:25] leomelzer commented on #18
Thanks for reporting, we are running into the same issue.

It seems like the webpack plugin lost `writeToDisk: true` here: https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/pull/11/commits/00bc230e27ed05283c0d74a66e8867b15e20ea64 -- not sure what the original reason was to remove the option. 🤔

Seems logical it can't find the stats file if it was not written to disk.

[2021-05-18 17:38] graysonhicks commented on #18
Thanks, this is a duplicate of #17

[2021-05-18 17:38] #18 closed

[2021-05-18 17:51] graysonhicks commented on #17
I just published an update on `next` adding the `writeToDisk` flag back.  This, plus another change, accidentally didn't make it in to that first beta.  Testing it now.

[2021-05-18 17:54] joelvarty commented on #17
Fingers crossed!  Glad to see this package being maintained - thank you for all that you do!

[2021-05-18 19:41] graysonhicks commented on #17
Thanks @joelvarty !  I am also working on moving the test repo to Gatsby Cloud to be able to test builds in that pipeline as well as deployed behavior.

[2021-05-18 19:47] graysonhicks commented on #17
[Here is the demo site](https://loadabletestmain.gatsbyjs.io/) with the latest `next` version.  Cloud builds correctly, including subsequent builds and SSR is also happening correctly.  I was never able to replicate this problem myself, so I can't verify if it is resolved or not.

[2021-05-18 20:28] afladmark commented on #17
I definitely had that issue in testing, so I'll try out the `next` version locally with and without dev ssr, on a local build and on Gatsby Cloud and let you know. Thank for picking this up!

[2021-05-18 20:49] joelvarty commented on #17
My error has been resolved!

[2021-05-18 23:35] afladmark commented on #17
OK. I've tested everything with `2.2.1-beta.0` which is what was installed when I added `next` on Gatsby 3.2.

- **develop w/DEV SSR:** seems to work as expected though none of the page body content is present in the source. The `loadable-stats-build-javascript.json` file is in `public` as expected and this matches our previously working local code. So probably OK? I'm not entirely clear on whethe

[2021-05-19 11:13] graysonhicks commented on #17
Thanks for the feedback @afladmark .  Do you have a reproduction?  Not seeing that behavior in my test repo.

[2021-05-19 11:19] graysonhicks commented on #17
@afladmark Scratch that, my build is successful with `2.2.1-beta.0`, but I see the error with `develop`.

[2021-05-19 11:27] graysonhicks commented on #17
Okay, `2.2.1-beta.2` (or `next` as of now) seems to resolve the issue for `develop`.  I am noticing that SSR does not work for DEV_SSR, but the build does.  I think I'd prefer seeing it working on a build that during the DEV_SSR, but there may be a fix for that long term.

cc: @afladmark

[2021-05-19 12:48] chrisvince commented on #17
`2.2.1-beta.2` works for me with `develop`! Thanks @graysonhicks!

[2021-05-19 14:02] dizip commented on #17
Also works for me, thanks for maintaining this package, it's very useful ;)

[2021-05-19 15:24] afladmark commented on #17
Confirmed develop with and without SSR now work as expected.

I blew away `node_modules` and did a `gatsby clean` (and forced a build cache clear on Gatsby Cloud). I retested the build locally and on Gatsby Cloud and I seem to be getting the expected SSR content as well now. Not sure why it wasn't present before, but assume something was cached somewhere.

Interestingly, I seem to be getting the S

[2021-05-19 19:20] graysonhicks commented on #17
Okay good news!  Thanks everyone.  I am closing this issue.  I think we are close to getting these updates out in a new major release.  There is one other bug I am working on and then it will be ready.

[2021-05-19 23:21] afladmark opened #19 "Increased LCP with beta plug-in"
We rolled out the latest beta to our website this afternoon and pretty immediately noticed a >2x degradation of our LCP numbers. I've tried to profile it and see if I could spot why, but I'm not sure I'm any closer.

It looks like LCP has moved until after React has loaded and loadable components have been fired (previously our initial load, FCP and LCP were all the same instant earlier than that)

[2021-05-20 23:52] alxndr opened #20 "can not use v2.1.0 with gatsby 3.5.1"
[code]

[2021-05-21 11:42] josephmarkus opened #21 "WebpackError: Invariant Violation: loadable: cannot find ..."
Running `yarn start` works well locally 👍

Running `yarn build` throws an error 👎  that looks like this:

![error](https://user-images.githubusercontent.com/9258365/119131541-8441ca00-ba31-11eb-973f-1382bbd42757.png)

[code]

[2021-05-21 17:12] graysonhicks commented on #20
Hi @alxndr you should be using the `next` version with v3 until a new major version is released.  Thanks!

[2021-05-21 17:12] #20 closed

[2021-05-22 00:00] alxndr commented on #20
Thanks @graysonhicks ! Where is the `next` version? I don't see it in branches or tags...

[2021-05-22 17:10] KornelijusGlinskas commented on #20
@alxndr

I've faced this issue as well. The next version can be installed by appending the `@next `tag to the package name. It'll install the upcoming version:
`npm install --save gatsby-plugin-loadable-components-ssr@next`

[2021-05-24 17:24] graysonhicks commented on #19
@afladmark So is your replaceHydrate function replacing the one that loadable uses in this plugin?

[2021-05-24 18:18] afladmark commented on #19
@graysonhicks So, for a bit more context, when I created #13 as an attempt at Gatsby 3 support, I ran into an issue where it worked everywhere except for the Gatsby Cloud builds. For reasons I assume relate to resolving the path to the public folder, I never got any SSR output when building in Gatsby Cloud.

As a workaround, and as I laid out here https://github.com/graysonhicks/gatsby-plugin-load

[2021-05-25 03:50] alxndr commented on #20
Thank you @KornelijusGlinskas !!

FWIW I'm now seeing lots of output when running `gatsby serve`, here's a tiny snippet:

[code]

[2021-05-26 12:53] ctorresthrash opened #22 "Generating development JavaScript bundle failed undefined ERROR in commons Module not found"
I haven't seen this problem anywhere, so i think it would be an interesting case to be aware of. This error appears on development mode:

[code]
I installed the "next" version and tried to resemble [loadable-test](https://github.com/graysonhicks/loadable-test) and the problem still persists, this is my `gatsby info`:

[code]

this is how my `gatsby-config` looks like:

[code]

I'm not sure if ther

[2021-06-03 11:50] rinorzek opened #23 "WebpackError: Unsafe builtin usage fs.existsSync"
I recently updated all the dependencies of my projects along with gatsby v3.6.1 and when I'm trying to build the project it's throwing an warning saying `WebpackError: Unsafe builtin usage fs.existsSync` and it's pointing at the gatsby-plugin-loadable-components-ssr/gatsby-ssr.js file. I think that is because of the usage of fs instead of import now with the latest gatsby update as they mention th

[2021-06-03 14:53] graysonhicks commented on #23
Hi @rinorzek what version of `gatsby-plugin-loadable-components-ssr` are you using?

[2021-06-03 14:54] graysonhicks commented on #22
I notice you have `DEV_SSR` as false, can you try with it true?

[2021-06-03 14:56] rinorzek commented on #23
@graysonhicks I'm using v2.1.0

[2021-06-03 14:57] graysonhicks commented on #19
Thanks for that @afladmark, and yes, some comparison sites would be great to look at, thanks!

[2021-06-03 16:13] graysonhicks commented on #22
Also, as this is `next` related, just noting that I released `3.0.0` today. 👍

[2021-06-03 16:14] graysonhicks commented on #23
You should upgrade the plugin to `3.0.0`

[2021-06-03 16:14] graysonhicks commented on #21
As this is `next` related, just noting that I released `3.0.0` today. 👍

[2021-06-03 16:14] graysonhicks commented on #19
Also, as this is `next` related, just noting that I released `3.0.0` today. 👍

[2021-06-03 16:15] #7 closed

[2021-06-03 16:15] #10 closed

[2021-06-03 16:16] #4 closed

[2021-06-03 16:30] rinorzek commented on #23
@graysonhicks great thanks! thought I had the latest version but saw that that version is the latest for gatsby 2 👍🏼

[2021-06-03 16:31] chrisvince commented on #22
@graysonhicks v3 release! Thank you!!

[2021-06-03 17:59] ctorresthrash commented on #22
@graysonhicks I tried setting DEV_SSR to true and the problem persists, i ran gatsby clean and did a fresh install and the problem still goes on

[2021-06-03 19:22] joelvarty opened #24 "V3.0 - still seeing errors on preview and build - sometimes"
Here's the from CMS Preview on Gatsby Cloud.
Hopefully, this is enough to help diagnose what's happening.

[code]

[2021-06-03 19:23] joelvarty commented on #24
Wierd that this is erroring every 3rd build:

![image](https://user-images.githubusercontent.com/4520625/120700459-adc21300-c47f-11eb-9305-2f1250931a36.png)

[2021-06-09 14:58] ibjorn opened #25 "Generating JavaScript bundles failed - invalid argument, mkdir"
I recently upgraded to Gatsby v.3. I was keeping an eye on this plugin as I noticed the issues after upgrading. So today I decided to give it another bash with 3.0.0.

I run into this error, which seems to me like it could be a bug.

` ERROR #98123  WEBPACK

Generating JavaScript bundles failed

EINVAL: invalid argument, mkdir 'C:\Users\bjorn\www\blackalscoza\public\C:\Users\bjorn\www\blackalscoza

[2021-06-10 13:48] kdichev commented on #25
some of our windows developers report the same issue, build works on macOS or Linux. As a workaround you can use WSL2 in the meantime until this is resolved.

[2021-06-10 14:26] ibjorn commented on #25
Thanks for that. It's not too urgent at this stage, at least not moving development environment urgent. Will keep an eye out for an update.
Will do staging test on my VPS.

[2021-06-10 22:00] kdichev commented on #25
on a side note do your project is in a `workspace` as ours is and I am seeing that there might be something wrong as the there is this folder containing the `loadable-stats-build-javascript.json` file when I execute `yarn worksapce dfdsdotcom build`

![image](https://user-images.githubusercontent.com/12297753/121602211-d310cd00-c9fb-11eb-86e7-de18ac69dee4.png)

[2021-06-14 16:35] #23 closed

[2021-06-15 17:55] justinluttrell opened #26 "Plugin includes react-dom in bundle, causing duplicate in Gatsby build output."
I recently noticed that sites using this plugin have `react-dom.production.min.js` show up twice in the build output. Once in the Gatsby framework bundle and once in the gatsby-plugin-loadable-components-ssr bundle.

Lighthouse highlights this as an opportunity for improvement.

![image](https://user-images.githubusercontent.com/51456668/122099736-58bbc080-cde0-11eb-91bf-241e46561703.png)

Using [

[2021-06-15 19:26] graysonhicks commented on #26
Looks like a bug.  Thanks, I'll look in to this!

[2021-06-15 19:26] graysonhicks commented on #26
@justinluttrell Can you verify which versions you are using?

[2021-06-15 19:36] justinluttrell commented on #26
v2.1.0

[2021-06-15 19:47] justinluttrell commented on #26
Updating to v3.0.0 fixes the issue.

![image](https://user-images.githubusercontent.com/51456668/122114077-df789980-cdf0-11eb-9dc8-c5db920eb464.png)

[2021-06-16 04:31] #26 closed

[2021-06-17 21:46] graysonhicks commented on #24
This `unlink` error should be resolved by #27 which just released under `3.1.0`.  Thanks!

[2021-06-17 21:46] #24 closed

[2021-06-19 20:09] Kikobeats opened #28 "[Question] How to use it properly"
Hey hello,

I recently discovered `loadable-components` and I have fallen in love.

However, I have a question pending: is this really necessary in a Gatsby project?

When I do a build of my Gatsby project, I can see JS chunks are actually split into smaller chunks.

I guess this library is replacing the original Gatsby behavior and do the same but the job to `loadable-components`?

[2021-06-21 14:33] synim-sogody commented on #25
I've also recently faced this issue. @graysonhicks below you'll find a rough description of the issue as I understand it, two workarounds and a pull request #29 for a more permanent solution. Let me know if this helps in solving the issue at hand.

### Description

The issue seems like a classic absolute/relative path mix-up. While calling gatsby-node.js:20-27 and then emitting output assets on @l

[2021-06-22 02:05] graysonhicks commented on #25
Thanks for the workarounds _and_ PR @synim-sogody !  I will get that released this week.

[2021-06-22 02:06] graysonhicks commented on #28
Hi @Kikobeats I actually have a blog post that will explain this in a lot of detail going out in the next week or so.  I will paste the link here and close this when it is published.  Thanks!

[2021-06-22 06:55] vivacoda commented on #28
Thanks I am interested also for properly setup and use it with gatbsy-link.
Best regards

[2021-06-25 13:36] #25 closed

[2021-06-25 13:40] graysonhicks commented on #25
Fix for this released with `3.2.0`

[2021-06-26 15:58] graysonhicks commented on #22
@ctorresthrash What does your component import look like with loadable?

[2021-06-26 16:00] graysonhicks commented on #21
This was due to using `loadable` on a component that was in a bundled component library so needed `loadable.lib`.

[2021-06-26 16:00] #21 closed

[2021-06-26 18:10] ctorresthrash commented on #22
Hi @graysonhicks I import them like this `const GDPR = loadable(() => import('../../molecules/GDPR/GDPR'));`

[2021-06-28 12:42] nestarz opened #30 "Error: loadable-components: failed to asynchronously load component,[object Object]"
Hello !

I use this plugin at version 3.2.0 with a Gatsby 3.8.0 project but have 3-4% users that triggers the following error:

`loadable-components: failed to asynchronously load component,[object Object]
`
It does't happens with the version 2.2.1-beta.2 on Gatsby 3.6.1.

Tell me if you need more information.

Best,

[2021-06-28 13:51] graysonhicks commented on #22
@ctorresthrash Can you create a minimal reproduction?  Thanks!

[2021-06-30 16:00] ashleynexvelsolutions commented on #28
I'm also looking forward to reading the blog post. Thanks @graysonhicks

[2021-07-21 18:28] graysonhicks commented on #30
Hi!  Thanks for bringing this up.  Yes, can you post some more information on the environment where you are seeing this?  Thanks!

[2021-07-24 03:59] graysonhicks commented on #28
Blog post with some more reasoning is up here, thanks!

https://www.gatsbyjs.com/blog/flexible-fine-grained-code-splitting-with-gatsby-loadable-components

[2021-07-24 03:59] #28 closed

[2021-08-11 16:31] hazem3500 opened #31 "Error: SSR requires `@loadable/babel-plugin`, please install it"
When I run `gatsby build` I get the error
[code]
I'm on version `3.2.0` and the gatsby version is `3.7.1`.

The loadable component is
[code]

And then I'm importing it inside an `MDX` file

[code]

Not sure what's the problem though 😅

[2021-08-11 19:43] graysonhicks commented on #31
Hi @hazem3500 !  Can you post your `package.json` and `gatsby-config`?

[2021-08-11 19:44] graysonhicks commented on #19
@afladmark Have you been able to confirm this or see if it is still an issue in `3.2.0`?

[2021-08-11 23:09] afladmark commented on #19
I'll test it tomorrow on latest version of Gatsby and of this component. If I can see the LCP difference clearly on a Gatsby Cloud branch build (vs the equivalent main branch build) I'll let you know.

[2021-08-12 05:00] hazem3500 commented on #31
[code]

[code]

[2021-08-12 14:14] graysonhicks commented on #31
Thanks @hazem3500 is the repo public?

[2021-08-12 14:29] hazem3500 commented on #31
Nope, unfortunately😅

[2021-08-12 14:31] graysonhicks commented on #31
Okay, I am thinking this is a Typescript issue and [this solution may help](https://github.com/gregberge/loadable-components/issues/263#issuecomment-477996274). Let me know.

[2021-08-12 14:32] hazem3500 commented on #31
Cool 👍, thanks @graysonhicks XD, will test and tell you if it works!

[2021-08-12 14:55] hazem3500 commented on #31
Figured out the problem, I was importing `Loadable` with an uppercase instead of `loadable` 🤦‍♂️
[code]

instead of

[code]

[2021-08-18 13:24] Leksat commented on #17
We get this error in Gatsby Cloud _randomly_.

Using the latest versions of all dependencies:
[code]

The error from Gatsby Cloud:
[code]

Unfortunately, we could not find a way to reproduce the error locally. But here is what I have found after some research:
- Webpack config is adjusted only for three stages https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/blob/94736d30c534a

[2021-08-18 20:32] graysonhicks commented on #17
Thanks @Leksat that's interesting.  Yes, I have still seen this message show up, I think only on incremental builds.  @KyleAMathews What do you think?  Should the setWebpackConfig just run on every stage?

[2021-08-18 20:54] KyleAMathews commented on #17
Oh... I think this is the problem — https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/blob/94736d30c534aea39c7a1d0fd7426c4e535c00b3/src/gatsby-node.js#L34-L41

As an optimization, Gatsby Cloud reuses the previously created SSR bundle on incremental builds to SSR changed pages. But because we delete the JSON file, SSRing would fail.

I think if we just wrote the stats file to th

[2021-08-19 09:48] Leksat commented on #17
Here is a PR: https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/pull/32

[2021-08-19 09:50] Leksat commented on #17
When I tested locally, I also noticed that the npm package contains `constants.js` file which seems to be a leftover from the previous versions.

[2021-08-19 10:31] Leksat opened #33 "Cannot find chunk in stats in dev-ssr mode"
For example, you have two pages:
- a page that uses loadable (loadable-page)
- a page which does not use loadable but links to the loadable-page (regular-page)

Success scenario:
- run `gatsby clean && gatsby develop`
- go to the regular-page url
- hover over the loadable-page link (this is the key to make it success, but I don't know why)
- go to the loadable-page url => it works

Failure scenari

[2021-08-19 10:43] Leksat commented on #33
The hover generates the json file for the target page in `/.cache/json` directory. But I don't know how this affects webpack/loadable.

[2021-08-19 15:15] graysonhicks commented on #17
Merged #32 after testing locally and on Gatsby Cloud.  Seems to be a random and hard to reproduce error, but hopefully resolved.  Thanks @Leksat !

[2021-08-19 15:19] graysonhicks commented on #33
Hi @Leksat thanks for the report.  I was unable to reproduce using this test site I use.  Do you mind trying to make a minimal reproduction?  (The test site is using 3.3.0).

https://github.com/graysonhicks/loadable-test

[2021-08-19 21:05] Leksat commented on #33
🤔 I'll try.

[2021-08-20 02:34] graysonhicks commented on #31
@hazem3500 Your second error may be fixed by 3.3.0

[2021-08-20 11:17] hazem3500 commented on #31
Just tried `3.3.0`, now I'm getting this error 😅

[code]

It's now missing from `.cache` instead of `public`

[2021-08-20 18:31] graysonhicks commented on #31
@hazem3500 Are you on windows?  This doesn't seem related to the plugin?

[2021-08-21 05:01] hazem3500 commented on #31
Yes, I'm on Windows, the weird thing is that `loadable-stats-build-javascript.json` gets created in the root directory, is that supposed to happen?

[2021-08-21 05:04] hazem3500 commented on #31
I think this line is the culprit XD

https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/blob/ec12fdbee2c8ae7e3fe8c4d935280ed00c8105c6/src/gatsby-node.js#L22

[2021-08-22 02:58] graysonhicks commented on #31
Thanks @hazem3500 !  Can you describe your changes and the reasons why for long term clarity?

[2021-08-23 08:18] Leksat commented on #33
Hmm, I also can't reproduce it on the test repo. Closing for now.

[2021-08-23 08:18] #33 closed

[2021-08-23 18:04] jcpof commented on #17
this is still an issue for me using teamcity build agents using windows. since we use a clean build directory the .cache folder does not exist at build time

[2021-08-24 00:37] graysonhicks commented on #17
@jcpof Can you elaborate?  Gatsby creates the `.cache` folder on every build.

[2021-08-24 00:40] jcpof commented on #17
im using teamcity for my builds, and we create a new directory for every build so the .cache folder wont be present.

i get this error `WebpackError: Cannot find module 'E:\BuildAgent\work\***folder\.cache\loadable-stats-build-javascript.json'`

[2021-08-24 00:51] afladmark commented on #19
@graysonhicks I have good news to report here. We've integrated version `3.3.0` of the plugin and have seen no recurrance of the issue we previously reported with increased LCP. It's been running on our production site for most of the day and everything looks exactly as expected, so I think we're good to close this issue. Thank you so much for your work on this!

[2021-08-24 00:51] #19 closed

[2021-08-24 01:47] KyleAMathews commented on #17
@graysonhicks if you use fs-extra `outputFile`, it'll ensure the directory is there.

[2021-08-24 03:02] graysonhicks commented on #19
Thanks @afladmark !

[2021-08-24 03:06] graysonhicks commented on #17
@KyleAMathews Hm, okay.  But the the file is only [created](https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/blob/master/src/gatsby-node.js#L21) by the `LoadablePlugin` via `filename`.   Just create it via `outputFile` first?

[2021-08-24 03:20] KyleAMathews commented on #17
hm yeah — thinking about this more — @jcpof not sure how this isn't working. You run `gatsby build` in a new directory? When Gatsby starts up, pretty much the first thing it does to create the `.cache` directory if it doesn't exist.

[2021-08-24 15:09] Leksat commented on #17
Just wanted to confirm that the fix works for us on Gatsby Cloud. Thank you for help!

[2021-08-24 15:32] graysonhicks commented on #31
Okay, makes sense, thanks!

[2021-08-25 14:11] lacsinagramar commented on #17
I'm experiencing the same this issue on `gatsby develop`.

When I add this to my `gatsby-config.js`:

[code]

My app won't build, and I get this error:
![image](https://user-images.githubusercontent.com/29629828/130806357-9b865396-00c1-40f6-930a-ff396ff232f0.png)

Please help me resolve this. Thank you

[2021-09-01 09:12] rickyshowtime commented on #17
I think this merge needs to be reviewed, my develop build now breaks on win32 system.
_loadable-stats-build-javascript.json_ is never written in .cache (for some strange reason it's actually written in root and /public folder) folder whereas for linux and macOS platforms it does (gatsby-plugin-loadable-components-ssr v3.3.0).

I made a downgrade to 3.2.0 and now develop builds (with and without SS

[2021-09-01 12:25] #17 closed

[2021-09-04 10:04] OPerel commented on #31
Hey
Any updates on this? Will the fixing PR be merged soon?
I'm having the same issue.
`loadable-stats-build-javascript.json` isn't created at all or is created at the root of the project.
I'm also on Windows, and using `gatsby: 3.13.0` and `gatsby-plugin-loadable-components-ssr: 3.3.0`

Thanks!

[2021-09-04 10:32] hazem3500 commented on #31
You can use [`patch-package`](https://www.npmjs.com/package/patch-package) until its merged I guess 😅

[2021-09-05 01:26] graysonhicks commented on #31
@OPerel Yes, I will merge next week. 👍

[2021-09-13 09:22] ref-kboone commented on #31
Any idea when you can merge this? Next week we have a prod release and would like to have loadable components active without the patch approach.

[2021-09-13 19:51] #31 closed

[2021-09-13 19:51] graysonhicks commented on #31
Merged and released with `3.4.0`.  Thanks all!

[2021-09-15 15:36] lunelson opened #37 "Question: a way to wait for page "sections" before route transition?"
I've been leaning so far to the conclusion that this can only be done with upcoming Suspense, concurrent-mode etc. in React 18, but is there any way that I could make the client-side router wait for loadable-component sections of the incoming page before doing the route transition?

[2021-09-25 16:11] julrich opened #38 "Error: loadable-components: failed to synchronously load component, which expected to be available"
When running in development, everything works as expected, and the generated chunks (per component) are loaded perfectly fine.

When trying to generate a production build, though, I'm being greeted by the following errors:
[code]

[code]

[code]

Maybe of note, we are using dynamic import paths in our template page component... where components can vary per page instance, according to the CMS data

[2021-09-25 16:16] julrich commented on #38
Those two issues definitely seem related:
* https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/issues/6
* https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/issues/4

[2021-09-25 18:16] julrich commented on #38
Tried to add some more context, as to what we're trying to do in a gist. With a more complete sample of the page template we're trying to build:
https://gist.github.com/julrich/73441d0f94fcc581b29183168060d2c9

[2021-09-28 13:58] lmestel commented on #38
Here is a minimal setup to reproduce this: https://github.com/lmestel/gatsby-loadable-component-demo

With `import("../components/list-item")` everthing works as expected, but with ``import(`../components/${props.component}`)`` (and later `<Component component="list-item" … />`), i get the same error as @julrich on production build.

[2021-09-29 16:32] graysonhicks commented on #38
Hi @julrich and @lmestel , yes there is definitely an issue with fully dynamic imports and this plugin.  The [main workaround is making a 'map' component](https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/issues/4#issuecomment-684814893).  I am sure there is a solution, likely in the stats map that is being generated, but I don't know if I will have time to implement it, and th

[2021-09-29 18:23] julrich commented on #38
@KyleAMathews I think so, yes. I've found 2 or 3 such cases in the tickets, but all paths were ultimately leading here, in the end:
https://github.com/gregberge/loadable-components/issues/621#issuecomment-687530179

Which still seems to be the current state of affairs :)

Maybe a note in the readme would even be enough. It's just not very clear that there are limitations, currently, as articles as

[2021-09-29 18:23] #38 closed

[2021-09-29 18:51] graysonhicks commented on #38
Thanks for the extra information @julrich and yes, I will definitely add something in the docs noting that dynamic imports do not have first-class support!

[2021-10-05 16:16] phil-lgr opened #39 "Error with DEV_SSR"
I have been experiencing random crashes with the latest version of loadable, this plugin and Gatsby

I can't repro it yet, but pasting my error in case anyone has an idea

[code]

[2021-10-13 07:55] julrich commented on #38
For everyone stumbling upon this after the fact: This is a great introductory talk by Grayson about those coming `React.lazy` changes in React 18

https://www.youtube.com/watch?v=lypEGNEIRKE

[2021-10-25 19:07] coreyward opened #43 "Loadable Components not prefetched on hover"
The default behavior of Gatsby Link is to prefetch Webpack chunks when a link is hovered over, which ensures they're available if/when that link is clicked. When using this plugin, however, loadable components are never prefetched. This results in a fair amount of layer shifting when navigating client-side, especially relative to the default approach without Loadable Components.

I tried to dive i

[2021-11-03 15:11] LiamMartens opened #45 "Gatsby v4.1.0 throws "Generated engines use disallowed import" error due to stats JSON import"
![image](https://user-images.githubusercontent.com/5265324/140087667-331e2ca3-e7e9-4b30-bb25-772685a11770.png)

`Error: Generated engines use disallowed import "/workspaces/heights-gatsby/.cache/loadable-stats-build-javascript.json". Only allowed imports are to Node.js builtin modules or engines internals.`

[2021-11-05 18:22] laneparton commented on #45
Here's more context, if it is helpful.

`success Building production JavaScript and CSS bundles - 55.276s
⠋ Building Rendering Engines
success Building Rendering Engines - 34.037s
success Building HTML renderer - 35.437s
success Execute page configs - 0.059s
failed Validating Rendering Engines - 1.650s

 ERROR #98001  WEBPACK

Built Rendering Engines failed validation failed validation.

Please op

[2021-11-07 01:37] qinyiyao commented on #45
Reproduction: https://codesandbox.io/s/bug-report-gatsby-loadable-plyr-t577j
Error on `yarn build`.

[2021-11-11 16:42] verystack commented on #21
Still an issue. With and without using loadable.lib.

[2021-11-12 15:50] graysonhicks commented on #21
@verystack Can you please open a new issue with a reproducible example?

[2021-11-12 15:51] graysonhicks commented on #45
Thanks, will be looking at this next week.  Long term, once React 18 is stable, I won't be updating this for further v4 compatibility in place of React.lazy.

[2021-11-12 16:40] graysonhicks commented on #45
Fix released in 4.1.0.  Thanks all!

[2021-11-12 16:40] #45 closed

[2021-11-15 04:34] graysonhicks commented on #39
Hi @phil-lgr feel free to reopen when you have a reproduction, thanks!

[2021-11-15 04:34] #39 closed

[2021-11-15 04:35] #22 closed

[2021-11-15 04:35] #30 closed

[2021-11-15 04:36] graysonhicks commented on #37
Hm, there shouldn't be any client side 'waiting' for sections using this plugin because they should be SSR'd.  Can you explain more of the expected behavior?

[2021-11-15 07:40] lunelson commented on #37
Hi, 👋🏻  yes they are SSR'd on a cold load, but not on Router transitions, e.g. if I do a full page-load on "Page A", everything comes in one piece, but if I then go to "Page B", and this page contains some components which were not already on page A, the Router doesn't "know" about the loadable components on the page, so the transition happens immediately and then the different loadable parts of t

[2021-11-19 15:49] graysonhicks commented on #43
Hi @coreyward so I had a few discussions with some other team members and this is more involved than it first appears.  Essentially users have come to use loadable (and soon React.lazy) less for their lazy loading capability w/ Gatsby, and instead for code-splitting.  So it is a bit like fighting upstream to undo the webpack behavior that is telling these chunks to load later in the process and ma

[2021-11-19 16:02] coreyward commented on #43
Interesting! I've been stubbing my toes on various approaches to code splitting with Gatsby and it seems like a lot of it comes back to the challenge you described. I haven't played with any of the v4 stuff, but without React 18 it doesn't seem like any of it helps with this anyways, right?

[2021-11-19 18:21] graysonhicks commented on #43
Right, Gatsby 4 support React 18, but still not convinced React.lazy() makes the most sense long term.  Right now this plugin is the best for code-splitting while maintaining SSR.  React.lazy() will do that in a simpler way with React 18, but neither will support things like prefetching at the moment.

[2021-11-30 16:14] arthurvi opened #47 "Disable / opt-out of rel="preload" link tags in the head"
The default behaviour is to add a `<link rel=preload>` tag for every chunk.

[code]

We have the [flexible layout component use-case](https://www.gatsbyjs.com/blog/flexible-fine-grained-code-splitting-with-gatsby-loadable-components/). `gatsby-plugin-loadable-components-ssr` (or somewhere else?) seems to mark each component as high priority by setting the `<link rel=preload>` tag. Would you accept

[2021-12-03 05:00] Pearce-Ropion opened #48 "Cannot find module '/.cache/page-ssr/loadable-stats-build-javascript.json'"
Hi,

I am experiencing an error on `gatsby develop` and `gatsby build`. Essentially the new location for `loadable-stats-build-javascript.json` in the latest version cannot be resolved during the SSR phase.

[code]

From my testing, `process.cwd()` resolves to `/` during the gatsby SSR phase. Therefore, the resulting json file path in `gatsby-ssr` is `/.cache/page-ssr/loadable-stats-build-javascri

[2021-12-11 04:50] graysonhicks commented on #48
Thanks for the issue and PR @Pearce-Ropion !  For posterity and clarity, what are the steps to reproduce this?  Does it happen on every build or randomly?  Is this OS dependent?  Thanks and I'll get this merged and released asap!

[2021-12-11 04:54] graysonhicks commented on #47
Hi @arthurvi !  Yea I think that makes sense.  I'll have to mess around to see how fine-grain a user could control that.  I think disabling would have to come with a pretty big warning that you would then need inline comments.  I'll keep you updated!

[2021-12-11 04:56] graysonhicks commented on #43
Closing this with hopes it is answered at the framework level, not here in a plugin.  For now, consider the flexibility of code-splitting the component as the tradeoff for losing the `preload` behavior.  Also, there is already a lot of preloading of these chunks, just not on hover, so I think perf implications aren't too bad.

Still a very informative issue and thanks for filing @coreyward !

[2021-12-11 04:56] #43 closed

[2021-12-11 04:58] graysonhicks commented on #37
Closing this for now, feel free to reopen with a reproduction, thanks!

[2021-12-11 04:58] #37 closed

[2021-12-11 05:05] Pearce-Ropion commented on #48
I'm currently running on Debian 9, so it might be OS specific. I know Linux sometimes does weird stuff with paths.

As for when this happens, it appears to happen on every build and development build on the latest version of gatsby. I had to look through a bunch of the files in the gatsby codebase while researching what was the problem and found a lot of places where they reference the /page-ssr d

[2021-12-11 14:46] graysonhicks commented on #48
Yea, if you don't mind, that'd be great!  I just want to be careful on this pathing because there have been several fixes related to OS here and don't want a regression.  Thanks!

[2021-12-14 11:29] yukulelix commented on #48
This is happening on Gatsby Cloud for me too :)

[2021-12-16 16:41] graysonhicks commented on #48
Released 4.1.1 with a fix for this.  Thanks @Pearce-Ropion !

[2021-12-17 19:33] reilnuud commented on #48
@graysonhicks – it's back, reverting from 4.1.2 to to 4.1.1 fixes it--leading / strikes again:

[abe2da04408c505cbacf11beeca24fbd98a809ba]((https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/commit/abe2da04408c505cbacf11beeca24fbd98a809ba))

[2021-12-17 19:41] graysonhicks commented on #48
@pieh Any ideas why one breaks the other?

[2021-12-17 19:46] reilnuud commented on #48
My guess would be that the path needs to be resolved still--it's looking for .cache in the system root, not the project root.

[2021-12-17 19:54] Pearce-Ropion commented on #48
Yep, importing from any path that starts with / will import from the system root.

[2021-12-17 19:55] graysonhicks commented on #48
As long as you aren't using DSG, you can stay on 4.1.1

[2021-12-17 19:56] Pearce-Ropion commented on #48
I think you forgot the leading ./ in your import path to make it relative.

[2021-12-17 20:00] graysonhicks commented on #48
Can't tell if that / is important for the DSG aspect: https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/pull/50#discussion_r770928104

[2021-12-17 20:03] bwlng commented on #48
@graysonhicks I can test on our project if a beta release is tagged

[2021-12-21 14:36] Leksat commented on #48
Adding `.` before `/` does not help.
[code]

But notice the path. It tries to find the file in the plugin dir, not in the project root.

[2022-01-06 09:55] Leksat commented on #48
Could we at least reopen this issue?

[2022-01-18 18:15] graysonhicks commented on #48
@pieh Any ideas on [this commit](https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/commit/abe2da04408c505cbacf11beeca24fbd98a809ba) causing this problem?  Ideally this should work with v4 + DSG.

[2022-01-21 21:14] pieh commented on #48
Path starting with `/` is intentional as that _should_ resolve to project root in Gatsby. And in test sites that I had as well as at least 1 user case it does work correctly.

To fix the problem I do need to be able to reproduce it - do any of you folks seeing this issue have (public) site I could pull and reproduce this on?

[2022-01-27 07:03] samirergaibi commented on #48
We've got the same issue when updating to `4.1.2`. I don't know if this helps but we've got a **mono repo** setup and from what I can tell it can't find the `loadable-stats-build-javascript.json` file since it's trying to find it in the plugin directory inside the `node_modules` folder instead of the projects folder where the `.cache` directory is as @Leksat pointed out.

[2022-01-27 15:40] Bogdan1001 commented on #48
I got the same issue when I've deleted the .cache folder, I didn't update anything, I'm on Mac 13 m1.

 Can't run the project. Any fast workarounds?

[2022-01-27 16:33] reilnuud commented on #48
If you install 4.1.1, you should be able to avoid this error.

[2022-01-27 16:44] Bogdan1001 commented on #48
@reilnuud that didn't help I've tried. I actually didn't change the version just after the cache was deleted by me it stopped to work not sure how it happened.

@graysonhicks I did some debugging. And I am sure that the 'loadable-stats-build-javascript.json' is created not at the right time(after it was requested by the module).

**What steps I've made?**
1. I tried to change the path at the modul

[2022-01-27 19:21] graysonhicks commented on #48
One thing that I think needs to happen is the plugin will essentially be ignored in develop because it's not necessary and is where I think this error occurs.

[2022-01-30 10:17] pieh commented on #48
I opened PR with essentially what @graysonhicks mentioned ("ignoring" develop) - https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/pull/51 (so plugin should be no-op for develop, but continue to add <script>/<style> tags to html in builds.

[2022-02-02 16:17] graysonhicks commented on #48
Okay, published the fix as a beta under `4.2.0-beta.0` if anyone would like to test.  Will publish later this week.

[2022-02-03 01:41] cameronbraid commented on #48
`4.2.0-beta.0` gets me passed that problem

[2022-02-03 03:42] yangbooom commented on #48
`4.2.0-beta.0` works great with gatsby develop too.

[2022-02-07 23:11] laneparton commented on #48
+1 for 4.2.0-beta.0

[2022-02-08 01:32] graysonhicks commented on #48
Thanks, feedback has been positive here and elsewhere.  Will release as `4.2.0` tomorrow.

[2022-02-15 05:19] VernerKeel commented on #48
+1 for 4.2.0-beta.0

[2022-02-15 21:38] #48 closed

[2022-02-15 21:40] graysonhicks commented on #48
`4.2.0` just released.  Thanks all!

[2022-02-28 16:42] graysonhicks commented on #48
@Nikhil-Ladha Can you please open a new issue with a minimal reproduction?

[2022-02-28 17:01] Nikhil-Ladha opened #52 "Bug: ENOENT for "page-ssr/loadable-stats-build-javascript.json" file on gatsby build"
**Issue:**
After adding the plugin to the gatsby site, getting the below error while running the `gatsby build` command.

[code]

**Steps to reproduce:**
1. Add the plugin to your site by following the guide mentioned in the README/Gatsby plugin docs
2. Try running `gatsby build`.

**NOTE:**
The issue is not happening while executing `gatsby develop`. I think that's because it is simply ignored in

[2022-03-01 13:32] debo19 commented on #52
I'm facing this same issue on running `gatsby build`.

[2022-03-08 15:41] graysonhicks commented on #52
Can you please post a link to the repo with the reproduction?

[2022-03-22 19:38] panzacoder opened #53 "Unable to build with Gatsby or reload in Dev-SSR mode"
Hi there,

I'm in a pretty confusing situation. I have used loadable-components and this plugin with previous Gatsby projects, but am now unable to do anything with it.

In Dev mode, I get this error when I refresh the page:
[code]

When attempting a build, I get the following:
[code]

[2022-03-22 19:39] panzacoder commented on #53
Here's my `gatsby info`

[code]

[2022-03-22 19:41] panzacoder commented on #53
Just noticed i've got a bad package in there `gatsby-plugin-loadable-components`. That package is not being used in config, I have been trying a lot of different versions in attempts to fix this issue.

[2022-03-25 15:49] panzacoder commented on #53
I've since ripped out loadable components in favor of React v18 Release Candidate. My builds now succeed but.. It's not doing SSR properly. Anything that is split is not available in the browser without SSR, which is the same behavior as using loadable-component without this plugin.

Is there any way I can easily check for apis that would conflict with this SSR process? Any tips on debugging these

[2022-03-28 20:22] panzacoder commented on #53
@graysonhicks Any suggestions on what to try? From what I am seeing, this is all behaving like it doesn't work with Gatsby at all, but I know that can't be right. Help would be appreciated.

[2022-03-29 18:19] graysonhicks commented on #53
@panzacoder Hi!  Yea, the React 18 splitting might not be SSR'ing at the moment.  Need to check with @wardpeet on what the expectation is there.

Nothing should have changed for this plugin, but i do see you are using v3 Gatsby, so you may need to downgrade the version of this plugin.

[2022-03-29 18:33] panzacoder commented on #53
@graysonhicks Thanks for the reply. It looked like Gatsby was supporting the alpha of React 18 starting at 3.5 or 3.6, but I haven't seen much chatter since then (other than your demo video), so not super surprised there.

I am on v3, have been unable to upgrade to v4. I tried using v2.x, 3.x, and 4.x of this plugin to no avail. I'm not sure what is going on but as soon as I enable ssr using this

[2022-03-30 01:27] graysonhicks commented on #53
Hm, 3.4.0 should work for v3 of Gatsby.  Do you have a link to a reproduction?

[2022-03-30 05:51] wardpeet commented on #53
We do support React.lazy + suspense on SSR with React 18

[2022-03-30 14:51] wmt-php-mudramk commented on #52
@graysonhicks
Is there any update?

@Nikhil-Ladha
Have you found any workaround?

I am also facing the same issue.

[2022-03-31 11:07] kashyapm-wmt commented on #52
@graysonhicks Facing a similar issue with `gatsby build`. Working fine with `gatsby develop`

If you can guide me I can help you to fix this.

Thanks

[2022-03-31 15:29] graysonhicks commented on #52
I can't give any update without reproductions of the bug 😄

[2022-04-08 12:22] graysonhicks commented on #52
@kashyapm-wmt Can you please post a reproduction?  I was testing yesterday and am unable to replicate.

[2022-04-08 12:54] Nikhil-Ladha commented on #52
Hi @graysonhicks , check out this repo (branch: `gatsby-ssr-plugin-bug`) https://github.com/Nikhil-Ladha/layer5/tree/gatsby-ssr-plugin-bug. I have added the plugin, and on doing a gatsby build it is failing.

[2022-04-08 13:59] graysonhicks commented on #52
@Nikhil-Ladha You are on Gatsby 3, can you try the plugin version 3.4.0?

[2022-04-08 14:14] Nikhil-Ladha commented on #52
But, why should I roll back to previous gatsby versions? If not today, then sometime we will move to Gatsby 4, and even then we won't be able to use the `ssr-plugin`.

[2022-04-18 17:29] graysonhicks commented on #52
@Nikhil-Ladha Because `3.4.0` is the last version that supports Gatsby v3.  When you move to v4 of Gatsby you can bump this plugin version as well.

[2022-04-18 17:41] Nikhil-Ladha commented on #52
Oh ok, got it.
I kind of misunderstood your previous comment, reason being the gatsby release only shows 2.1.0 as the latest 😅

[2022-07-08 20:12] chandlervdw commented on #53
I get the following error when adding this plugin to my `gatsby-config.js`, running `gatsby@4.18.0`:
[code]

The project runs fine if I disable `DEV_SSR` or remove this plugin from `gatsby-config.js`.

[2022-07-09 01:19] #52 closed

[2022-07-15 12:20] NotFrancee opened #55 "Support for react-dom^18.2.0"
I'm trying to install this package on my gatsby website, but npm cannot resolve the dependencies.

Here's the error message:

npm ERR!
npm ERR! While resolving: the-daily-bond@1.0.0
npm ERR! Found: react-dom@18.2.0
npm ERR! node_modules/react-dom
npm ERR!   react-dom@"^18.2.0" from the root project
npm ERR!   peer react-dom@"^16.9.0 || ^17.0.0 || ^18.0.0" from gatsby@4.18.2
npm ERR!   node_modules

[2022-07-22 16:43] graysonhicks commented on #55
Hi @NotFrancee !  Can you please post a reproduction?

[2022-07-22 16:44] graysonhicks commented on #53
Can someone please post a minimal reproduction so I can take a deeper look?  Thanks!

[2022-07-26 19:41] graysonhicks commented on #55
@NotFrancee This is resolved in 4.2.1.  Was a peer deps package.json issue.  Thanks!

[2022-07-26 19:41] #55 closed

[2022-07-27 14:27] joernroeder commented on #53
same as @chandlervdw broke when I was upgrading to 4.19. coming from 4.15 where it was working flawlessly

[2022-08-02 17:10] lilyntalmers commented on #47
Hey @graysonhicks! Thank you so much for making loadable SSR so much easy for GatsbyJS.😊

As @arthurvi pointed out, [webpack](https://webpack.js.org/guides/code-splitting/#prefetchingpreloading-modules) have a way to **preload the chunks** by `import(/* webpackPreload: true */ 'ChartingLibrary');`. But **gatsby-plugin-loadable-components-ssr** put `<link rel=preload>` for every chunk. Which preloa

[2022-08-03 20:36] graysonhicks commented on #47
Hi @lilyntalmers yes the preload tags are added [here](https://github.com/graysonhicks/gatsby-plugin-loadable-components-ssr/blob/master/src/gatsby-ssr.js#L17).  Could definitely add an option to disable that.  Will try to do that this week.

[2022-08-08 20:21] Nikhil-Ladha opened #56 "[Question] Can the usage of this plugin hamper SEO of the site?"
If the page is split into smaller chunks can it hamper the SEO performance of the site?
Or, will the page will be still get crawled by google as it is since the page is SSR? If so, can I use the `loadable-components` on above-the-fold components too?

[2022-08-17 11:55] edward-simpson opened #57 "Support for React 18"
Because this plugin uses `reactDom.render` in it's gatsby-browser.js, it prevents using react 18 features:

[code]

[2022-08-17 13:25] lilyntalmers commented on #47
Thank you so much @graysonhicks for all the help. 😊

I’m looking forward to it! 🤩

[2022-08-28 21:07] lezan commented on #57
I am experience the same warning. I tried to check all the libraries used and this one appears to have to do with it.

[2022-09-12 12:46] Nikhil-Ladha commented on #56
@graysonhicks can you please help me with this question?

[2022-09-14 18:20] graysonhicks commented on #56
Hi @Nikhil-Ladha!  No it should not hurt SEO performance *if* you are using this plugin.  The main function of this plugin is to maintain SSR with loadable so you keep the same SEO and static performance as before.  Without this plugin, yes, you would hurt SEO because those components that are chunked would be client side rendered.

[2022-09-14 18:20] #56 closed

[2022-09-14 18:21] graysonhicks commented on #57
Thanks both!  I'll look at the best way to switch the render method.  One option is releasing a new major version of this plugin to align with [Gatsby v5](https://github.com/gatsbyjs/gatsby/discussions/36609), which will have React 18 as a requirement.

[2022-09-16 16:27] graysonhicks commented on #57
I am afraid this is an upstream problem with loadable: https://github.com/gregberge/loadable-components/issues/718

I recommend migrating to `React.lazy` for code-splitting + SSR with React 18.

[2022-09-16 16:31] graysonhicks commented on #57
I have removed the React 18 allowance from peer deps in `4.3.0` until this is resolved, but I am not really motivated to push React 18 support for this plugin, when React will now have an official solution baked in.

[2022-09-16 16:31] #57 closed

[2022-09-16 16:37] graysonhicks commented on #47
This should be available in `4.3.0` by passing in the option `preloadTags: false`:

[code]

Thanks @lilyntalmers @arthurvi !

[2022-09-16 16:37] #47 closed

[2022-09-18 19:26] lilyntalmers commented on #47
Thank you so much @graysonhicks !!! 😭

[2022-10-02 10:57] lezan commented on #57
@graysonhicks I did the migration to React.lazy and Suspense, but I am not able to run it (getting this one https://github.com/gatsbyjs/gatsby/issues/36678). Not sure it is a solution supported by Gatbsy.

[2022-10-04 17:05] graysonhicks commented on #57
Thanks @lezan but it is supported by Gatsby (despite the apparent bug).

[2022-10-04 18:08] lezan commented on #57
Hey @graysonhicks sorry to bother. Does it means is not a bug but I am doing something wrong?

[2022-10-05 21:20] graysonhicks commented on #57
No worries @lezan it may be a bug, or it may be user error.  I've responded to your issue on the Gatsby repo and we can track there.  Regardless, this plugin will not support React 18, as Gatsby v5 will with `React.lazy`.

[2022-11-24 14:31] leonburman opened #70 "Support Gatsby 5"
I'm hoping to upgrade to Gatsby v5 soon but this plugin doesn't currently support it.

[code]